@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap');

:root {
	--nc-font-sans: "M PLUS 1 Code", monospace;
	--nc-font-mono: "M PLUS 1 Code", monospace;
	--nc-tx-1: #e0e0e0;
	--nc-tx-2: #cfcfcf;
	--nc-bg-1: #000000;
	--nc-bg-2: #111111;
	--nc-bg-3: #222222;
	--nc-lk-1: #3291FF;
    --nc-lk-2: #222;
    --nc-lk-tx: #FFFFFF;
    --nc-ac-1: #a63030;
    --nc-ac-tx: #FFFFFF;
}